@model IEnumerable<honeyWeb.Models.BaiViet>
@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <!--<h1>@ViewBag.Title.</h1>-->
    <!--<h2>@ViewBag.Message</h2>-->
</hgroup>

<div class="container_12">
<div class="grid_12">

<div class="wrapper">

<div class="grid_8 alpha">
	<h2>Một số thông tin cần biết về mật ong </h2>
	<div class="marTop4">
		<img alt="" src="images\page2_pic1.jpg" class="img3">
		<h3>@ViewBag.articles[0].tieu_de</h3>
		<p>@ViewBag.articles[0].noi_dung</p>
	</div>
</div>

<div class="grid_4 omega">
	<h2>What we offer</h2>
	<div class="wrapper marTop5">
		<p class="num_txt2">1</p>
		<div class="box2">
			<h3><a href="#">Lorem ipsum dolor</a></h3>
			<p>Pit wisi enim ad minim veniamqu uis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit.</p>
		</div>
	</div>
	<div class="wrapper marTop6">
		<p class="num_txt2">2</p>
		<div class="box2">
			<h3><a href="#">Praesent vestibulum</a></h3>
			<p>Pit wisi enim ad minim veniamqu uis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit.</p>
		</div>
	</div>
	<div class="wrapper marTop6">
		<p class="num_txt2">3</p>
		<div class="box2">
			<h3><a href="#">Vestibulum iaculis</a></h3>
			<p>Pit wisi enim ad minim veniamqu uis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit.</p>
		</div>
	</div>
</div>

							</div>

							<div class="wrapper team_section">
								<h2>Our team</h2>

								<div class="grid_2 alpha">
									<img alt="" src="images\page2_pic2.jpg" class="img4">
									<h3><a href="#">Mark Johnson</a></h3>
									<p>Pit wisi enim ad minim veniamqu uis nostrud exerci tation ullamcor suscipit lobortis nisl ut aliquip ex ea com modo consequat duis autem vel eum.</p>
								</div>

								<div class="grid_2">
									<img alt="" src="images\page2_pic3.jpg" class="img4">
									<h3><a href="#">Jessica Priston</a></h3>
									<p>Pit wisi enim ad minim veniamqu uis nostrud exerci tation ullamcor suscipit lobortis nisl ut aliquip ex ea com modo consequat duis autem vel eum.</p>
								</div>

								<div class="grid_2">
									<img alt="" src="images\page2_pic4.jpg" class="img4">
									<h3><a href="#">Bradley Grosh</a></h3>
									<p>Pit wisi enim ad minim veniamqu uis nostrud exerci tation ullamcor suscipit lobortis nisl ut aliquip ex ea com modo consequat duis autem vel eum.</p>
								</div>

								<div class="grid_2">
									<img alt="" src="images\page2_pic5.jpg" class="img4">
									<h3><a href="#">Olivia Pool</a></h3>
									<p>Pit wisi enim ad minim veniamqu uis nostrud exerci tation ullamcor suscipit lobortis nisl ut aliquip ex ea com modo consequat duis autem vel eum.</p>
								</div>

								<div class="grid_2">
									<img alt="" src="images\page2_pic6.jpg" class="img4">
									<h3><a href="#">John McCoist</a></h3>
									<p>Pit wisi enim ad minim veniamqu uis nostrud exerci tation ullamcor suscipit lobortis nisl ut aliquip ex ea com modo consequat duis autem vel eum.</p>
								</div>

								<div class="grid_2 omega">
									<img alt="" src="images\page2_pic7.jpg" class="img4">
									<h3><a href="#">Linda Smith</a></h3>
									<p>Pit wisi enim ad minim veniamqu uis nostrud exerci tation ullamcor suscipit lobortis nisl ut aliquip ex ea com modo consequat duis autem vel eum.</p>
								</div>

							</div>

							<div class="indent1"></div>


						</div>
					</div>
